<div class="col-md-6">
    <div class="card">
      <img class="card-img-top" src="<%= event.hero_image_url %>">
      <div class="card-block">
        <h4 class="card-title"><%= event.name %></h4>
        <% if user_signed_in? %>
          <%= link_to 'Show', event_path(event), class: 'btn btn-success' %>
          <% if event.user.id == current_user.id %>
            <% if !event.published %>
              <%= link_to 'Publish', publish_event_path(event), method: :post, class: "btn btn-primary #{event.publishable? ? '' : 'disabled'}" %>
            <% end %>
            <%= link_to 'Edit', edit_event_path(event), class: 'btn btn-secondary' %>
          <% end %>
        <% end %>
        <p class="card-text">
          <%= event.extended_html_description.html_safe %>
        </p>
      </div>
    </div>
</div>  
