<div class="row">
  <h2>New Event</h2>
  <%= render('layouts/error', object: { data: @event, name: 'creating event' }) if @event %>

  <%= form_for @event, url: events_path do |f| %>
    <div class="form-group">
    	<%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  	
  	<div class="form-group">
  		<%= f.label :venue %>
  		<br/>
  		<%= select :event, :venue_id, Venue.all.collect { |r| [r.name, r.id] }, class: 'c-select' %>
  	</div>

    <div class="form-group">
      <%= f.label :category %>
      <br/>
      <%= select :category, :category_id, Category.all.collect { |c| [c.name, c.id] }, class: 'c-select' %>
    </div>

    <div class="form-group">
      <%= f.label :starts_at %>
      <%= datetime_select :event, :starts_at, default: Time.now %>
    </div>

    <div class="form-group">
      <%= f.label :ends_at %>
      <%= datetime_select :event, :ends_at, default: 1.days.from_now %>
    </div>

    <div class="form-group">
      <%= f.label :hero_image_url %>
      <%= f.text_field :hero_image_url, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :extended_html_description %>
      <br />
      <%= text_area :event, :extended_html_description, size: "10x5", class: 'form-control' %>
    </div>

    <div class="form-actions">
      <%= f.submit "Create", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<% if @event.ticket_types.count > 0 %>
<div class="row">
  <h2>Ticket Types</h2>
  <div class="col-md-11 col-md-offset-1">  
    <table class="table">
      <th> Ticket Type </th>
      <th> Unit Price </th>
      <th> Quantity </th>
    
      <% render @event.ticket_types %> 
    </table>
  </div>
</div>
<% end %>

<div class="row">
  <%= render 'ticket_types/form' %>
</div>